$main: #ea9c25;
$sub: #48a138;
$sub-1: #333333;
$highlight: #00C800;
$red: #df152d;
$lightgrey: #999999;
$darkgrey: #757575;
$border: #ebebeb;

.btn-green {
  background-color: $sub;
  color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.padding-17 {
  padding-left: 17% !important;
  padding-right: 17% !important;
  width: 100%;

  @media(max-width:1366px) {
    padding-right: 10% !important;
    padding-left: 10% !important;
  }

  @media(max-width:1024px) {
    padding-right: 3% !important;
    padding-left: 3% !important;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.product-group {
  // overflow-x: auto;
  // white-space: nowrap;

  &_item {
    display: inline-block;
    padding: 5px 16px;

    a {
      display: inline-block;
      color: $darkgrey;
      position: relative;
      margin-right: 5px;

      &:hover {
        text-decoration: none;
      }
    }

    .pc-img {
      width: 100px;

      img {
        margin: 10px 15px;
        width: 100%;
      }

      @media (min-width:1366px) {
        width: 120px;
      }
    }

    .pc-info {
      width: 150px;
      color: $darkgrey;

      p {
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: .8rem;
        margin: 0;
      }

      .pc-quality {
        i {
          font-size: 12px;
          color: $main;

          &:last-child {
            color: $lightgrey;
          }
        }
      }

      h6 {
        color: $red;
      }
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.102) 0px 0px 20px;
      z-index: 1;
      opacity: 0.95;
    }
  }
}