	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/09/2020 07:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-mail:before { content: "\f100"; }
.flaticon-pin:before { content: "\f101"; }
.flaticon-phone:before { content: "\f102"; }
.flaticon-facebook:before { content: "\f103"; }
.flaticon-youtube:before { content: "\f104"; }
.flaticon-linkedin:before { content: "\f105"; }
.flaticon-packaging:before { content: "\f106"; }
.flaticon-notification:before { content: "\f107"; }
.flaticon-menu:before { content: "\f108"; }
.flaticon-placeholder:before { content: "\f109"; }
.flaticon-right:before { content: "\f10a"; }
.flaticon-left-chevron:before { content: "\f10b"; }
.flaticon-down-chevron:before { content: "\f10c"; }
.flaticon-up-chevron:before { content: "\f10d"; }
.flaticon-phone-1:before { content: "\f10e"; }
.flaticon-laptop:before { content: "\f10f"; }
.flaticon-headphones:before { content: "\f110"; }
.flaticon-camera:before { content: "\f111"; }
.flaticon-shirt:before { content: "\f112"; }
.flaticon-book:before { content: "\f113"; }
.flaticon-motorcycle:before { content: "\f114"; }
.flaticon-return-of-investment:before { content: "\f115"; }
.flaticon-shield:before { content: "\f116"; }
.flaticon-shop:before { content: "\f117"; }
.flaticon-list:before { content: "\f118"; }
.flaticon-homepage:before { content: "\f119"; }
.flaticon-profile-user:before { content: "\f11a"; }
.flaticon-star:before { content: "\f11b"; }
.flaticon-delivery:before { content: "\f11c"; }
.flaticon-award:before { content: "\f11d"; }
.flaticon-customer-service:before { content: "\f11e"; }
.flaticon-cash-on-delivery:before { content: "\f11f"; }
.flaticon-television:before { content: "\f120"; }
.flaticon-star-1:before { content: "\f121"; }
.flaticon-frying-pan:before { content: "\f122"; }
.flaticon-feeding-bottle:before { content: "\f123"; }
.flaticon-lipstick:before { content: "\f124"; }
.flaticon-basketball-ball:before { content: "\f125"; }
.flaticon-earth-grid:before { content: "\f126"; }
.flaticon-voucher:before { content: "\f127"; }
.flaticon-washing-machine:before { content: "\f128"; }
.flaticon-sprayer:before { content: "\f129"; }
.flaticon-google-plus:before { content: "\f12a"; }
.flaticon-delete:before { content: "\f12b"; }
.flaticon-placeholder-1:before { content: "\f12c"; }
.flaticon-filter:before { content: "\f12d"; }
.flaticon-user:before { content: "\f12e"; }
.flaticon-shopping-cart:before { content: "\f12f"; }
.flaticon-loupe:before { content: "\f130"; }