    /*
    Flaticon icon font: Flaticon
    Creation date: 17/09/2020 09:05
    */

    @font-face {
      font-family: "Flaticon";
      src: url("../fonts/Flaticon.eot");
      src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Flaticon.woff2") format("woff2"),
        url("../fonts/Flaticon.woff") format("woff"),
        url("../fonts/Flaticon.ttf") format("truetype"),
        url("../fonts/Flaticon.svg#Flaticon") format("svg");
      font-style: normal;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
      }
    }

    .fi:before {
      display: inline-block;
      font-family: "Flaticon";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }

    .flaticon-mail:before {
      content: "\f100";
    }

    .flaticon-pin:before {
      content: "\f101";
    }

    .flaticon-phone:before {
      content: "\f102";
    }

    .flaticon-facebook:before {
      content: "\f103";
    }

    .flaticon-youtube:before {
      content: "\f104";
    }

    .flaticon-linkedin:before {
      content: "\f105";
    }

    .flaticon-packaging:before {
      content: "\f106";
    }

    .flaticon-notification:before {
      content: "\f107";
    }

    .flaticon-menu:before {
      content: "\f108";
    }

    .flaticon-placeholder:before {
      content: "\f109";
    }

    .flaticon-right:before {
      content: "\f10a";
    }

    .flaticon-left-chevron:before {
      content: "\f10b";
    }

    .flaticon-down-chevron:before {
      content: "\f10c";
    }

    .flaticon-up-chevron:before {
      content: "\f10d";
    }

    .flaticon-phone-1:before {
      content: "\f10e";
    }

    .flaticon-laptop:before {
      content: "\f10f";
    }

    .flaticon-headphones:before {
      content: "\f110";
    }

    .flaticon-camera:before {
      content: "\f111";
    }

    .flaticon-shirt:before {
      content: "\f112";
    }

    .flaticon-book:before {
      content: "\f113";
    }

    .flaticon-motorcycle:before {
      content: "\f114";
    }

    .flaticon-return-of-investment:before {
      content: "\f115";
    }

    .flaticon-shield:before {
      content: "\f116";
    }

    .flaticon-shop:before {
      content: "\f117";
    }

    .flaticon-list:before {
      content: "\f118";
    }

    .flaticon-homepage:before {
      content: "\f119";
    }

    .flaticon-profile-user:before {
      content: "\f11a";
    }

    .flaticon-star:before {
      content: "\f11b";
    }

    .flaticon-delivery:before {
      content: "\f11c";
    }

    .flaticon-award:before {
      content: "\f11d";
    }

    .flaticon-customer-service:before {
      content: "\f11e";
    }

    .flaticon-cash-on-delivery:before {
      content: "\f11f";
    }

    .flaticon-television:before {
      content: "\f120";
    }

    .flaticon-star-1:before {
      content: "\f121";
    }

    .flaticon-frying-pan:before {
      content: "\f122";
    }

    .flaticon-feeding-bottle:before {
      content: "\f123";
    }

    .flaticon-lipstick:before {
      content: "\f124";
    }

    .flaticon-basketball-ball:before {
      content: "\f125";
    }

    .flaticon-earth-grid:before {
      content: "\f126";
    }

    .flaticon-voucher:before {
      content: "\f127";
    }

    .flaticon-washing-machine:before {
      content: "\f128";
    }

    .flaticon-sprayer:before {
      content: "\f129";
    }

    .flaticon-google-plus:before {
      content: "\f12a";
    }

    .flaticon-delete:before {
      content: "\f12b";
    }

    .flaticon-placeholder-1:before {
      content: "\f12c";
    }

    .flaticon-filter:before {
      content: "\f12d";
    }

    .flaticon-user:before {
      content: "\f12e";
    }

    .flaticon-shopping-cart:before {
      content: "\f12f";
    }

    .flaticon-loupe:before {
      content: "\f130";
    }

    $font-Flaticon-mail: "\f100";
    $font-Flaticon-pin: "\f101";
    $font-Flaticon-phone: "\f102";
    $font-Flaticon-facebook: "\f103";
    $font-Flaticon-youtube: "\f104";
    $font-Flaticon-linkedin: "\f105";
    $font-Flaticon-packaging: "\f106";
    $font-Flaticon-notification: "\f107";
    $font-Flaticon-menu: "\f108";
    $font-Flaticon-placeholder: "\f109";
    $font-Flaticon-right: "\f10a";
    $font-Flaticon-left-chevron: "\f10b";
    $font-Flaticon-down-chevron: "\f10c";
    $font-Flaticon-up-chevron: "\f10d";
    $font-Flaticon-phone-1: "\f10e";
    $font-Flaticon-laptop: "\f10f";
    $font-Flaticon-headphones: "\f110";
    $font-Flaticon-camera: "\f111";
    $font-Flaticon-shirt: "\f112";
    $font-Flaticon-book: "\f113";
    $font-Flaticon-motorcycle: "\f114";
    $font-Flaticon-return-of-investment: "\f115";
    $font-Flaticon-shield: "\f116";
    $font-Flaticon-shop: "\f117";
    $font-Flaticon-list: "\f118";
    $font-Flaticon-homepage: "\f119";
    $font-Flaticon-profile-user: "\f11a";
    $font-Flaticon-star: "\f11b";
    $font-Flaticon-delivery: "\f11c";
    $font-Flaticon-award: "\f11d";
    $font-Flaticon-customer-service: "\f11e";
    $font-Flaticon-cash-on-delivery: "\f11f";
    $font-Flaticon-television: "\f120";
    $font-Flaticon-star-1: "\f121";
    $font-Flaticon-frying-pan: "\f122";
    $font-Flaticon-feeding-bottle: "\f123";
    $font-Flaticon-lipstick: "\f124";
    $font-Flaticon-basketball-ball: "\f125";
    $font-Flaticon-earth-grid: "\f126";
    $font-Flaticon-voucher: "\f127";
    $font-Flaticon-washing-machine: "\f128";
    $font-Flaticon-sprayer: "\f129";
    $font-Flaticon-google-plus: "\f12a";
    $font-Flaticon-delete: "\f12b";
    $font-Flaticon-placeholder-1: "\f12c";
    $font-Flaticon-filter: "\f12d";
    $font-Flaticon-user: "\f12e";
    $font-Flaticon-shopping-cart: "\f12f";
    $font-Flaticon-loupe: "\f130";