footer {
  background-color: #333333;
  padding: 1rem 0;
  border-top: 5px solid $sub;
}

.footer {
  &-logo {
    width: 150px;
    margin-bottom: 16px;

    img {
      width: 100%;
    }
  }

  &-info {
    h5 {
      color: #fff;
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 1rem;
    }

    &_content {
      font-weight: 400;

      &-items { 
        color: #dbdbdb;
        font-size: .9rem;
        display: flex;
        margin-bottom: 16px;

        i {
          font-size: 1rem;
          margin-right: 10px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-service {
    margin-top: 20px;

    h5 {
      color: #fff;
      font-weight: 600;
      font-size: 1rem;
    }

    &_content {
      display: flex;
      flex-direction: column;
      line-height: 1.8rem;

      a {
        font-size: .8rem;
        color: #dbdbdb;
      }
    }

    @media (min-width:1366px) {
      margin-top: 0;
    }
  }

  &-email {
    margin-top: 25px;

    h5 {
      color: #fff;
      font-weight: 600;
      font-size: 1rem;
    }

    &_search {
      display: flex;

      .form-control {
        border-radius: .2rem 0 0 .2rem;
      }

      .btn-search {
        padding: 0;
        border: none;
        padding: 5px 15px 5px 15px;
        background-color: $main;
        border-radius: 0 .2rem .2rem 0;

        i {
          font-size: 16px;
          color: #fff;
        }
      }

      input::placeholder {
        color: #999999;
        font-size: .8rem;
      }
    }
  }

  hr {
    border-color: #4b4b4b;
    border-radius: .3rem;
  }

  &-copy-right {
    padding: 2rem 0 1rem 0;

    span {
      color: $lightgrey;
      font-size: .8rem;
      font-weight: 400;
    }

    @media (max-width:412px) {
      text-align: center;
    }
  }

  &-license {
    text-align: center;
    padding: 1rem 0 1rem 0;

    a {
      width: 150px;
      display: inline-block;
      margin-right: 1rem;

      img {
        width: 100%;
      }
    }
  }
}