.header {
  background-color: $main;
  position: sticky;
  top: 0;
  z-index: 2;
  font-family: 'Roboto', sans-serif;

  .mobile-vers {
    display: block;

    @media (min-width:1366px) {
      display: none;
    }
  }

  .computer-vers {
    display: none;

    .navbar {
      .header-logo {
        @media (min-width:1366px) {
          display: flex;
          width: 200px;
        }
      }

      .nav-list {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_item {
          padding: 16px;
          font-weight: 500;

          .title {
            color: $darkgrey;

            &:hover {
              text-decoration: none;
              color: $main;
              transition: .2s all ease-in-out;
            }

            &:active {
              color: $main;
            }

            &:focus {
              color: $main;
            }
          }

          .nav-box {
            width: 100%;
            background-color: $sub;
            position: absolute;
            top: 87px;
            left: 0;
            right: 0;
            display: none;
            padding-right: 0;
            padding-left: 0;

            &_inner {
              display: flex;
              justify-content: center;
              padding: 50px 150px;

              .categories-wrap {
                display: inline-block;
                padding-right: 35px;
                margin-right: 35px;

                h6 {
                  font-size: 18px;
                  font-weight: 700;
                  text-transform: uppercase;
                  margin-bottom: 16px;

                  a {
                    color: #fff;

                    &:hover {
                      color: $main;
                    }
                  }
                }

                ul {
                  line-height: 32px;

                  a {
                    font-weight: 400;
                    font-size: 16px;
                    color: #e9e9e9;

                    &:hover {
                      color: #fff;
                    }
                  }
                }

                &:last-child {
                  padding: 0;
                  margin: 0;
                }
              }

              &::before {
                border-width: 9px;
                border-style: solid;
                border-color: transparent transparent $sub;
                margin-left: -9px;
                bottom: 100%;
                left: 50.7%;
                content: " ";
                height: 0px;
                width: 0px;
                position: absolute;
                pointer-events: none;
              }

              &::after {
                content: " ";
                background: transparent;
                height: 20px;
                width: 150px;
                top: -20px;
                left: calc(50% - 65px);
                position: absolute;
                display: inline-block;
              }
            }
          }

          &:hover {
            text-decoration: none;
          }
        }
      }

      .nav-option {
        a {
          margin-right: 16px;

          i {
            font-size: 20px;
            font-weight: 700;
            color: $darkgrey;
            transition: .3s all ease-in-out;

            &:hover {
              color: $main;
              transition: .2s all ease-in-out;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    @media (min-width:1366px) {
      display: block;
    }
  }

  &-menu {
    .navbar {
      padding: 7px;

      .header-logo {
        padding-top: 10px;
        width: 120px;

        img {
          width: 100%;
        }
      }

      a {
        i {
          color: #fff;
          font-size: 1.2rem;
        }

        &:hover {
          text-decoration: none;
        }
      }

      span {
        cursor: pointer;
        color: #fff;
      }
    }

    .form-search {

      form {
        position: relative;
        margin-bottom: 10px;
      }

      input {
        width: 340px;
        padding-left: 32px;
        color: $lightgrey;

        @media (min-width: 412px) {
          width: 378px;
        }

        @media (min-width: 768px) {
          width: 710px;
        }

        @media (min-width: 1024px) {
          width: 952px;
        }
      }

      i {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 8px;
        left: 14px;
        color: $lightgrey;
      }

      @media (min-width: 1366px) {
        display: none !important;
      }
    }
  }

  &-menu-list {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: .3s all ease-in-out;


    .inner {
      position: relative;
      width: 280px;
      height: 100%;
      background: #fff;
      z-index: 2;
      overflow-y: scroll;
      transform: translateX(-100%);
      transition-property: transform;
      transition-duration: 0.3s;

      &-header {
        background-color: $sub;
        padding: 15px;

        .sign-in {
          display: flex;
          align-items: center;
          position: relative;

          .icon-user {
            margin-right: 16px;

            i {
              color: #fff;
              font-size: 1.8rem;
            }
          }

          div {
            color: #fff;

            h6 {
              margin: 0;
            }

            span {
              font-weight: 400;
              font-size: 14px;
            }
          }

          .icon-arrow {
            position: absolute;
            right: 0;

            i {
              color: #fff;
            }
          }

          &:hover {
            text-decoration: none;
          }
        }
      }

      &-content {
        .list-product {
          &-item {
            // border-bottom: 1px solid #ebebeb;
            // box-shadow: 0 8px 6px -6px $border;

            .product-title {
              padding: 15px 20px;
              color: $darkgrey;
              display: flex;
              align-items: center;
              justify-content: space-between;

              h6 {
                margin: 0;

                i {
                  margin-right: 5px;
                }
              }

              span {
                font-size: 12px;
              }

              &:hover {
                text-decoration: none;
              }
            }

            .menu-child {
              a {
                li {
                  padding: 10px 20px;
                  color: $darkgrey;
                  box-shadow: inset 0 4px 10px -6px #ebebeb;
                }
              }
            }
          }
        }
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 1;
      transition: .3s all ease-in-out;
    }

  }

  @media (min-width:1366px) {
    background-color: #fff;
  }
}