<section class="cart">
  <div class="padding-17">
    <div class="row no-gutters">
      <div class="col-sm-12">
        <div class="cart-title">
          <h5>Giỏ hàng</h5>
        </div>
      </div>
      <!-- Danh sách giỏ hàng -->
      <div class="col-lg-12 col-sm-12">
        <div class="cart-list">
          <table class="table">
            <thead class="thead-primary">
              <tr class="text-center">
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td class="product-remove">
                  <a href="" class="pl-5">
                    <span class="fi flaticon-delete"></span>
                  </a>
                </td>
                <td class="product-img">
                  <div class="product-img_item">
                    <img src="assets/img/products/product2.png" alt="">
                  </div>
                </td>
                <td class="product-name">
                  <h3>HYDROLYZED COLLAGEN 1000MG</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper ullamcorper nisi nec
                    luctus</p>
                </td>

                <td class="price">795,000₫</td>

                <td class="quantity">
                  <div class="input-group">
                    <button class="btn-min">-</button>
                    <input type="text" name="quantity" class="input-number form-control" value="1" min="1" max="100">
                    <button class="btn-plus">+</button>
                  </div>
                </td>

                <td class="total">795,000₫</td>
              </tr><!-- END TR-->

              <tr class="text-center">
                <td class="product-remove">
                  <a href="#" class="pl-5">
                    <span class="fi flaticon-delete"></span>
                  </a>
                </td>

                <td class="product-img">
                  <div class="product-img_item">
                    <img src="assets/img/products/product3.png" alt="">
                  </div>
                </td>

                <td class="product-name">
                  <h3>HYDROLYZED COLLAGEN 1000MG</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper ullamcorper nisi nec
                    luctus</p>
                </td>

                <td class="price">795,000₫</td>

                <td class="quantity">
                  <div class="input-group">
                    <button class="btn-min">-</button>
                    <input type="text" name="quantity" class="input-number form-control" value="1" min="1" max="100">
                    <button class="btn-plus">+</button>
                  </div>
                </td>

                <td class="total">795,000₫</td>
              </tr><!-- END TR-->
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="cart-coupon cart-group">
          <h5>Mã giảm giá</h5>
          <span>Nhập mã giảm giá</span>
          <input type="text" class="form-control">
          <button class="btn btn-apply">Áp dụng</button>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12">
        <div class="cart-total cart-group">
          <h5>Tổng tiền</h5>
          <div class="price-total">
            <div class="price-total_item">
              <span>Tạm tính:</span>
              <h6>795,000₫</h6>
            </div>
            <div class="price-total_item">
              <span>Giảm giá:</span>
              <h6>0₫</h6>
            </div>
            <div class="price-total_item">
              <span>Thành tiền:</span>
              <h6>795,000₫</h6>
            </div>
          </div>
          <div class="buy">
            <a class="btn-buy" href="">
              <span>Tiến hành đặt hàng</span>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>