<section class="categories">
  <div class="bread-crumb padding-17">
    <ul>
      <li>
        <a href="index.html">
          <i class="fi flaticon-homepage"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fi flaticon-right"></i>
        </a>
      </li>
      <li>
        <a href="" class="active">
          Thực phẩm chức năng
        </a>
      </li>
    </ul>
  </div>
  <div class="row no-gutters mt-3 padding-17">
    <div class="col-lg-3">
      <div class="filter">
        <div class="filter-header">
          <h6>Lọc sản phẩm</h6>
        </div>
        <div class="filter-suppliers filter-group">
          <h6>Nhà cung cấp</h6>
          <ul>
            <li>DDS</li>
            <li>Hà Anh</li>
            <li>Melinka</li>
            <li>FOR USA</li>
            <li>JIDO PHARMA</li>
            <li>Nguyên Phước Trân</li>
            <li>Hoàng Phúc</li>
            <li>Nhất Nhất</li>
            <li>hebaCARE GmbH</li>
            <li>Khác</li>
          </ul>
        </div>
        <div class="filter-price filter-group">
          <h6>Giá</h6>
          <input class="input-price form-control" type="text">
          <input class="input-price form-control" type="text">
          <button class="btn btn-filter-price">Áp dụng</button>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-sm-12">
      <div class="main-content">
        <div class="categories-banner">
          <div class="banner-slick">
            <div class="slick-item">
              <a href="">
                <img src="assets/img/banners/banner-1.jpg" alt="">
              </a>
            </div>
            <div class="slick-item">
              <a href="">
                <img src="assets/img/banners/banner-2.jpg" alt="">
              </a>
            </div>
            <div class="slick-item">
              <a href="">
                <img src="assets/img/banners/banner-3.jpg" alt="">
              </a>
            </div>
            <div class="slick-item">
              <a href="">
                <img src="assets/img/banners/banner-6.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="categories-head">
          <h5>Thực phẩm chức năng</h5>
          <div class="p-filter">
            <div class="p-filter_item">
              <span id="filter-popup">
                <i class="fi flaticon-filter"></i>
                Lọc
              </span>
            </div>
            <div class="p-filter_item">
              <span>
                Sắp xếp
              </span>
            </div>
          </div>
        </div>
        <!-- Lọc sản phẩm (dưới mobile) -->
        <div class="filter-list" id="filter">
          <div class="inner-right">
            <div class="inner" id="inner-filter">
              <div class="inner-header">
                <div href="" class="inner-header_option">
                  <span class="close-filter">Đóng</span>
                  <h6>
                    Lọc sản phẩm
                  </h6>
                  <span>
                    Bỏ chọn
                  </span>
                </div>
              </div>
              <div class="inner-content">
                <div class="list-suppliers">
                  <h6>
                    Nhà cung cấp
                  </h6>
                  <ul class="list-suppliers_inner">
                    <li class="suppliers">DDS</li>
                    <li class="suppliers">Hà Anh</li>
                    <li class="suppliers">Melinka</li>
                    <li class="suppliers">FOR USA</li>
                    <li class="suppliers">JIDO PHARMA</li>
                    <li class="suppliers">Nguyên Phước Trân</li>
                    <li class="suppliers">Hoàng Phúc</li>
                    <li class="suppliers">Nhất Nhất</li>
                    <li class="suppliers">hebaCARE GmbH</li>
                    <li class="suppliers">Khác</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="overlay-filter"></div>
        </div>
        <div class="row no-gutters">
          <div class="col-12">
            <div class="categories-product">
              <div class="categories-product_item">
                <a href="">
                  <div class="pc-img">
                    <img src="assets/img/products/product2.png" alt="">
                  </div>
                  <div class="pc-info">
                    <p>
                      HYDROLYZED COLLAGEN 1000MG
                    </p>
                    <div class="pc-quality">
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                    </div>
                    <h6>
                      405,000₫
                    </h6>
                  </div>
                </a>
              </div>
              <div class="categories-product_item">
                <a href="">
                  <div class="pc-img">
                    <img src="assets/img/products/product2.png" alt="">
                  </div>
                  <div class="pc-info">
                    <p>
                      HYDROLYZED COLLAGEN 1000MG
                    </p>
                    <div class="pc-quality">
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                    </div>
                    <h6>
                      405,000₫
                    </h6>
                  </div>
                </a>
              </div>
              <div class="categories-product_item">
                <a href="">
                  <div class="pc-img">
                    <img src="assets/img/products/product2.png" alt="">
                  </div>
                  <div class="pc-info">
                    <p>
                      HYDROLYZED COLLAGEN 1000MG
                    </p>
                    <div class="pc-quality">
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                    </div>
                    <h6>
                      405,000₫
                    </h6>
                  </div>
                </a>
              </div>
              <div class="categories-product_item">
                <a href="">
                  <div class="pc-img">
                    <img src="assets/img/products/product2.png" alt="">
                  </div>
                  <div class="pc-info">
                    <p>
                      HYDROLYZED COLLAGEN 1000MG
                    </p>
                    <div class="pc-quality">
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                      <i class="fi flaticon-star"></i>
                    </div>
                    <h6>
                      405,000₫
                    </h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>