<section class="body">
  <div class="banner padding-17">
    <div class="banner-slick">
      <div class="slick-item">
        <a href="">
          <img src="assets/img/banners/banner-1.jpg" alt="">
        </a>
      </div>
      <div class="slick-item">
        <a href="">
          <img src="assets/img/banners/banner-2.jpg" alt="">
        </a>
      </div>
      <div class="slick-item">
        <a href="">
          <img src="assets/img/banners/banner-3.jpg" alt="">
        </a>
      </div>
      <div class="slick-item">
        <a href="">
          <img src="assets/img/banners/banner-6.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="product">
    <!-- Sản phẩm giảm giá -->
    <div class="product-sale">
      <div class="product-title">
        <h6>Khuyến mãi</h6>
        <a href="">
          Xem thêm
        </a>
      </div>
      <div class="product-wrap">
        <div class="product-wrap_item">
          <a href="">
            <div class="ps-img">
              <img src="assets/img/products/product2.png" alt="">
            </div>
            <div class="ps-info">
              <span>HYDROLYZED COLLAGEN 1000MG</span>
              <h6>
                405,000₫
                <small>795,000₫</small>
              </h6>
            </div>
            <label class="discount">
              -49%
            </label>
          </a>
        </div>
        <div class="product-wrap_item">
          <a href="" >
            <div class="ps-img">
              <img src="assets/img/products/product2.png" alt="">
            </div>
            <div class="ps-info">
              <span>HYDROLYZED COLLAGEN 1000MG</span>
              <h6>
                405,000₫
                <small>795,000₫</small>
              </h6>
            </div>
            <label class="discount">
              -49%
            </label>
          </a>
        </div>
        <div class="product-wrap_item">
          <a href="" >
            <div class="ps-img">
              <img src="assets/img/products/product2.png" alt="">
            </div>
            <div class="ps-info">
              <span>HYDROLYZED COLLAGEN 1000MG</span>
              <h6>
                405,000₫
                <small>795,000₫</small>
              </h6>
            </div>
            <label class="discount">
              -49%
            </label>
          </a>
        </div>
        <div class="product-wrap_item">
          <a href="" >
            <div class="ps-img">
              <img src="assets/img/products/product2.png" alt="">
            </div>
            <div class="ps-info">
              <span>HYDROLYZED COLLAGEN 1000MG</span>
              <h6>
                405,000₫
                <small>795,000₫</small>
              </h6>
            </div>
            <label class="discount">
              -49%
            </label>
          </a>
        </div>
        <div class="product-wrap_item">
          <a href="" >
            <div class="ps-img">
              <img src="assets/img/products/product2.png" alt="">
            </div>
            <div class="ps-info">
              <span>HYDROLYZED COLLAGEN 1000MG</span>
              <h6>
                405,000₫
                <small>795,000₫</small>
              </h6>
            </div>
            <label class="discount">
              -49%
            </label>
          </a>
        </div>
        <div class="product-wrap_item">
          <a href="" >
            <div class="ps-img">
              <img src="assets/img/products/product2.png" alt="">
            </div>
            <div class="ps-info">
              <span>HYDROLYZED COLLAGEN 1000MG</span>
              <h6>
                405,000₫
                <small>795,000₫</small>
              </h6>
            </div>
            <label class="discount">
              -49%
            </label>
          </a>
        </div>
      </div>
    </div>
    <!-- Thực phẩm chức năng -->
    <div class="product-categories">
      <div class="p-title">
        <h5>Thực phẩm chức năng</h5>
      </div>
      <div class="categories">
        <div class="categories-img">
          <img src="assets/img/category/nutrition.jpg" alt="">
        </div>
        <div class="categories-name">
          <ul class="categories-name_item">
            <li class="active">
              <a href="">Da liễu</a>
            </li>
            <li>
              <a href="">Tai mũi họng</a>
            </li>
            <li>
              <a href="">Mắt</a>
            </li>
            <li>
              <a href="">Tiêu hóa</a>
            </li>
            <li>
              <a href="">Xương khớp</a>
            </li>
            <li>
              <a href="">Tim mạch</a>
            </li>
            <li>
              <a href="">Gan mật</a>
            </li>
            <li>
              <a href="">Thần kinh</a>
            </li>
            <li>
              <a href="">Ung bứu</a>
            </li>
            <li>
              <a href="">Đái tháo đường</a>
            </li>
            <li>
              <a href="">Hỗ trợ sinh lý</a>
            </li>
            <li>
              <a href="">Thận</a>
            </li>
            <li>
              <a href="">Nội tiết tố</a>
            </li>
            <li>
              <a href="">Mỡ máu</a>
            </li>
            <li>
              <a href="">Tiết niệu</a>
            </li>
            <li>
              <a href="">Hô hấp</a>
            </li>
            <li>
              <a href="">Vitamin & khoáng chất</a>
            </li>
          </ul>
        </div>
        <div class="separate">
          <div class="line"></div>
        </div>
        <div class="categories-wrap product-group">
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="more-product">
        <a href="">
          <button class="btn btn-more">Xem thêm</button>
        </a>
      </div>
    </div>
    <!-- Chăm sóc sức khỏe -->
    <div class="product-categories">
      <div class="p-title">
        <h5>Chăm sóc sức khỏe</h5>
      </div>
      <div class="categories">
        <div class="categories-img">
          <img src="assets/img/category/pill.jpg" alt="pill">
        </div>
        <div class="categories-name">
          <ul class="categories-name_item">
            <li>
              <a href="">Máy đo đường huyết</a>
            </li>
            <li>
              <a href="">Máy đo huyết áp</a>
            </li>
            <li>
              <a href="">Nước rửa tay</a>
            </li>
            <li>
              <a href="">Nước súc miệng</a>
            </li>
            <li>
              <a href="">Khẩu trang y tế</a>
            </li>
            <li>
              <a href="">Chăm sóc cá nhân</a>
            </li>
          </ul>
        </div>
        <div class="separate">
          <div class="line"></div>
        </div>
        <div class="categories-wrap product-group">
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="more-product">
        <a href="">
          <button class="btn btn-more">Xem thêm</button>
        </a>
      </div>
    </div>
    <!-- Làm đẹp -->
    <div class="product-categories">
      <div class="p-title">
        <h5>Làm đẹp</h5>
      </div>
      <div class="categories">
        <div class="categories-img">
          <img src="assets/img/category/cosmestic.jpg" alt="pill">
        </div>
        <div class="categories-name">
          <ul class="categories-name_item justify-content-center">
            <li>
              <a href="">Chăm sóc da</a>
            </li>
            <li>
              <a href="">Chăm sóc tóc</a>
            </li>
          </ul>
        </div>
        <div class="separate">
          <div class="line"></div>
        </div>
        <div class="categories-wrap product-group">
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="more-product">
        <a href="">
          <button class="btn btn-more">Xem thêm</button>
        </a>
      </div>
    </div>
    <!-- Mẹ và bé -->
    <div class="product-categories">
      <div class="p-title">
        <h5>Mẹ và bé</h5>
      </div>
      <div class="categories">
        <div class="categories-img">
          <img src="assets/img/category/mom.jpg" alt="pill">
        </div>
        <div class="categories-name">
          <ul class="categories-name_item justify-content-center">
            <li>
              <a href="">Sản phẩm cho bé</a>
            </li>
            <li>
              <a href="">Sản phẩm cho mẹ</a>
            </li>
          </ul>
        </div>
        <div class="separate">
          <div class="line"></div>
        </div>
        <div class="categories-wrap product-group">
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product3.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
          <div class=" product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="more-product">
        <a href="">
          <button class="btn btn-more">Xem thêm</button>
        </a>
      </div>
    </div>
  </div>
</section>