<section class="product-detail">
  
  <div class="padding-17">
    <!-- Product image -->
    <div class="bg-white">
      <div class="row no-gutters">
        <div class="col-lg-6 col-sm-12">
          <div class="product-img slider-single">
            <div class="product-img_item">
              <img src="assets/img/products/product2.png" alt="">
            </div>
            <div class="product-img_item">
              <img src="assets/img/products/product3.png" alt="">
            </div>
            <div class="product-img_item">
              <img src="assets/img/products/product4.png" alt="">
            </div>
            <div class="product-img_item">
              <img src="assets/img/products/product5.png" alt="">
            </div>
            <div class="product-img_item">
              <img src="assets/img/products/product5.png" alt="">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-12">
              <div class="product-sub slider-nav">
                <div class="product-sub_item">
                  <img src="assets/img/products/product2.png" alt="">
                </div>
                <div class="product-sub_item">
                  <img src="assets/img/products/product3.png" alt="">
                </div>
                <div class="product-sub_item">
                  <img src="assets/img/products/product4.png" alt="">
                </div>
                <div class="product-sub_item">
                  <img src="assets/img/products/product5.png" alt="">
                </div>
                <div class="product-sub_item">
                  <img src="assets/img/products/product5.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="product-info">
            <h5>HYDROLYZED COLLAGEN 1000MG</h5>
            <div class="product-info-quality">
              <i class="fi flaticon-star"></i>
              <i class="fi flaticon-star"></i>
              <i class="fi flaticon-star"></i>
              <i class="fi flaticon-star"></i>
              <i class="fi flaticon-star"></i>
            </div>
            <div class="product-info-sumary">
              <p>TÁC DỤNG CỦA SẢN PHẨM HYDROLYZED COLLAGEN 1000MG:1.
                Giúp trẻ hóa làn da, làm chậm quá trình lão hóa, phục hồi
                và nuôi dưỡng tế bào da. 2. Cung cấp dưỡng chất giúp móng và
                tóc chắc khỏe hơn. 3. Hỗ trợ chống oxi hoá, đề kháng cơ thể,
                hỗ trợ giảm cân và tăng năng lượng cho người ăn kiêng.4,
                Phòng ngừa ...
              </p>
            </div>
            <div class="product-info-price">
              <h4>795,000₫</h4>
            </div>
            <div class="add-to-cart">
              <button class="btn btn-buy">Chọn mua</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product info -->
    <div class="bg-white">
      <div class="p-info-detail">
        <h5>THÔNG TIN CHI TIẾT</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">TÁC DỤNG</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Giúp trẻ hóa làn da, làm chậm quá trình lão hóa, phục hồi và nuôi dưỡng tế bào da.</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Cung cấp dưỡng chất giúp móng và tóc chắc khỏe hơn.</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Hổ trợ chống oxi hoá, đề kháng cơ thể, hỗ trợ giảm cân và tăng năng lượng cho người ăn kiêng.</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Phòng ngừa các bệnh về sụn, xương</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Tăng cường thị lực.</td>
            </tr>
            <tr>
              <th scope="row">CÔNG DỤNG</th>
              <td>Giúp làm đẹp da, tăng độ ẩm và độ đàn hồi cho da, chống nám, chảy xệ và khô da, giúp da căng mịn và
                đẹp hơn.</td>
            </tr>
            <tr>
              <th scope="row">LIỀU DÙNG</th>
              <td>Người lớn ngày uống 2 lần, mỗi lần từ 2 - 4 viên, uống lúc đói. Nên sử dụng thường xuyên để có hiệu
                quả tối ưu</td>
            </tr>
            <tr>
              <th scope="row">ĐỐI TƯỢNG SỬ DỤNG</th>
              <td>Người trưởng thành</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Product related -->
    <div class="bg-white">
      <div class="product-related">
        <h5>SẢN PHẨM LIÊN QUAN</h5>
        <div class="product-group">
          <div class="product-group_item">
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
            <a href="">
              <div class="pc-img">
                <img src="assets/img/products/product2.png" alt="">
              </div>
              <div class="pc-info">
                <p>
                  HYDROLYZED COLLAGEN 1000MG
                </p>
                <div class="pc-quality">
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                  <i class="fi flaticon-star"></i>
                </div>
                <h6>
                  405,000₫
                </h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>