.cart {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;

  &-title {
    width: 100%;
    padding: 10px;
    color: $darkgrey;
    margin-top: 16px;

    h5 {
      font-size: 25px;
      margin: 0;
    }
  }

  &-list {
    overflow-x: scroll;
    background-color: #fff;
    margin-top: 10px;

    .table {
      min-width: 1000px !important;
      width: 100%;
      text-align: center;

      tr {
        td {
          text-align: center !important;
          vertical-align: middle;
          padding: 40px 10px;
          border: none !important;
        }
      }

      .thead-primary {
        background-color: #48a138;

        th {
          padding: 20px 10px;
          color: #fff !important;
          border: none !important;
        }
      }
    }

    .product-remove {
      span {
        color: $darkgrey;
          font-size: 1.2rem;
          cursor: pointer;
        i {
          
        }
      }
    }

    .product-img {

      &_item {
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }
    }

    .product-name {
      width: 30%;

      h3 {
        font-size: 16px;
        color: $darkgrey;
      }

      p {
        font-size: 14px;
        color: $lightgrey;
      }
    }

    .quantity {
      input {
        margin: 0 10px;
        width: 25px;
        text-align: center;
      }

      button {
        padding: 6px 14px;
        color: $darkgrey;
        border: 1px solid #ced4da;
        outline: none;
        border-radius: 3px;
        background-color: #fff;
      }
    }
  }

  .cart-group {
    background-color: #fff;
    margin-top: 10px;
    padding: 20px;
  }

  &-coupon {
    span {
      color: $lightgrey;
    }

    input {
      margin-top: 5px;
      margin-bottom: 16px;
    }

    .btn-apply {
      color: #fff;
      padding: 5px 20px;
      background-color: $main;
    }

    @media (min-width:1366px) {
      margin-right: 16px;
    }
  }

  &-total {
    .price-total {
      &_item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: $lightgrey;
        }

        h6 {
          margin: 0;
        }

        &:last-child {
          margin-top: 16px;
          padding-top: 10px;
          border-top: 1px solid $border;

          h6 {
            color: $red;
            font-size: 25px;
          }
        }
      }
    }

    .buy {
      margin-top: 10px;
      text-align: center;

      .btn-buy {
        background-color: $red;
        border-radius: 5px;
        padding: 10px;
        display: block;
        color: #fff;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}