.categories {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;

  .bread-crumb {
    background-color: $main;

    a {
      color: #fff;
      font-size: 14px;

      &:hover {
        text-decoration: none;
      }
    }

    .active {
      font-weight: 500;
    }

    ul {
      margin: 0;
      display: flex;
      align-items: center;

      li {
        padding: 5px;

        .flaticon-right {
          font-size: 10px;
        }
      }
    }
  }

  &-banner {
    background-color: #fff;

    .slick-item {
      width: 100%;

      a {
        img {
          border-radius: 4px;
          width: 100%;

          @media (min-width:1024px) {
            border-radius: 0;
          }
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  &-head {
    padding: 16px;
    background-color: #fff;

    h5 {
      font-size: 16px;
      text-transform: uppercase;

      @media (min-width:1366px) {
        font-size: 16x;
      }
    }

    .p-filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      border-top: 1px solid $border;
      border-bottom: 2px solid $border;

      &_item {
        span {
          cursor: pointer;
          color: $darkgrey;
          font-size: 14px;
        }
      }

      @media (min-width:1366px) {
        display: none;
      }
    }
  }

  .filter {
    display: none;
    width: 99%;
    height: 100%;
    background-color: #fff;

    .filter-header {
      color: #fff;
      background-color: $sub;
      text-transform: uppercase;
      font-size: 1.2rem;
      padding: 16px;
      text-align: center;
      border-radius: 3px 3px 0 0;

      h6 {
        margin: 0;
      }
    }

    .filter-group {
      padding: 16px 32px 0 32px;
      border-bottom: 1px solid $border;

      h6 {
        text-transform: uppercase;
        font-size: 18px;
      }

      &:last-child {
        border: none;
      }
    }

    .filter-suppliers {
      ul {
        line-height: 32px;

        li {
          font-size: 14px;
          cursor: pointer;
          color: $darkgrey;
        }
      }
    }

    .filter-price {
      h6 {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 10px;
          height: 3px;
          border-radius: 5px;
          background-color: $darkgrey;
          top: 78px;
          left: 47%;
        }
      }

      .input-price {
        margin-bottom: 25px;
      }

      .btn-filter-price {
        padding: 5px 10px;
        color: $sub;
        background-color: #fff;
        border: 1px solid $sub;
        width: 100%;
        margin-bottom: 16px;

        &:hover {
          color: #fff;
          background-color: $sub;
        }
      }
    }

    @media (min-width:1024px) {
      display: block;
    }

    @media (min-width:1366px) {
      display: block;
    }
  }
  
  .filter-list {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: .3s all ease-in-out;

    .inner-right {
      height: 100%;
      position: absolute;
      right: 0;
      z-index: 2;

      .inner {
        position: relative;
        width: 300px;
        height: 100%;
        right: 0;
        background: #fff;
        overflow-y: scroll;
        transform: translateX(100%);
        transition-property: transform;
        transition-duration: 0.3s;

        &-header {
          background-color: $sub;
          padding: 15px;

          &_option {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            color: #fff;
            font-family: 'Roboto', sans-serif;

            h6 {
              margin: 0;
            }

            span {
              cursor: pointer;
              font-size: 14px;
            }
          }
        }

        &-content {
          .list-suppliers {
            padding: 15px 20px;

            &_inner {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              color: $darkgrey;
            }
          }

          .suppliers {
            display: flex;
            align-items: center;
            min-height: 40px;
            text-align: center;
            justify-content: center;
            padding: 7px 14px;
            width: calc(50% - 6px);
            margin: 0px 0px 6px;
            margin-bottom: 5px;
            border-radius: 5px;
            font-size: 13px;
            color: #000;
            background-color: #c5fdb6;
            cursor: pointer;
          }
        }
      }
    }

    .overlay-filter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 1;
      transition: .3s all ease-in-out;
    }

    @media (min-width:1366px) {
      display: none;
    }
  }

  .categories-product {
    background-color: #fff;

    &_item {
      display: inline-block;

      a {
        display: inline-block;
        color: $darkgrey;
        position: relative;
        padding: 12px;

        &:hover {
          text-decoration: none;
        }
      }

      .pc-img {
        width: 120px;

        img {
          margin: 10px 15px;
          width: 100%;
        }
      }

      .pc-info {
        width: 150px;
        color: $darkgrey;

        p {
          white-space: normal;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: .8rem;
          margin: 0;
        }

        .pc-quality {
          i {
            font-size: 12px;
            color: $main;

            &:last-child {
              color: $lightgrey;
            }
          }
        }

        h6 {
          color: $red;
        }
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.102) 0px 0px 20px;
        z-index: 1;
        opacity: 0.95;
      }
    }
  }
}