.body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;

  .banner {
    background-color: $main;

    &-slick {
      // background-color: $main;
      padding: 5px;
      margin-bottom: 10px;
    }

    .slick-item {
      width: 100%;

      a {
        img {
          border-radius: 4px;
          width: 100%;
        }

        &:focus {
          outline: none;
        }
      }
    }

    @media (min-width:1366px) {
      background-color: #fff;
    }
  }

  .product {

    &-sale {
      background-color: #fff;
      padding-bottom: 16px;
      padding: 16px;

      .product-title {
        display: flex;
        justify-content: space-between;
        color: $sub;
        text-transform: uppercase;
        font-weight: 700;
        padding: 16px;

        h6 {
          font-weight: 700;
        }

        a {
          font-size: 12px;
          color: #157cdb;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .product-wrap {
        overflow-x: auto;
        white-space: nowrap;

        &_item {
          display: inline-block;
          color: $darkgrey;
          position: relative;
          margin-right: 5px;
          padding: 16px;

          .ps-img {
            width: 100px;

            img {
              margin: 10px 15px;
              width: 100%;
            }

            @media (min-width:1366px) {
              width: 120px;
            }
          }

          .ps-info {
            width: 150px;

            span {
              white-space: normal;
              overflow: hidden;
              font-size: .8rem;
            }

            h6 {
              color: $red;

              small {
                color: $lightgrey;
                text-decoration: line-through;
              }
            }
          }

          .discount {
            color: #fff;
            background-color: $red;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 12px;
            padding: 0px 5px;
            border-radius: 10px 0px 0px 10px;
          }

          a {
            color: $darkgrey;

            &:hover {
              text-decoration: none;
            }
          }

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.102) 0px 0px 20px;
            z-index: 1;
            opacity: 0.95;
          }

          @media (min-width:1366px) {
            padding: 28px;
          }
        }

        @media (min-width:1366px) {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          white-space: unset;
          overflow-x: unset;
        }
      }

      @media (min-width:1366px) {
        padding: 16px 0px;
      }
    }

    &-categories {
      margin-top: 10px;
      background-color: #fff;

      .categories {
        background-color: #fff;

        &-img {
          margin-bottom: 16px;
          padding: 0 16px;

          img {
            width: 100%;
          }
        }

        &-name {
          padding: 0 15px;

          &_item {
            text-align: center;
            overflow-x: auto;
            white-space: nowrap;
            margin: 0;
            padding: 0;
            margin-bottom: 5px;

            .active {
              background-color: $main;

              a {
                color: #fff;
              }
            }

            li {
              display: inline-block;
              padding: 5px 10px;
              border: 1px solid $main;
              border-radius: 5px;
              margin-right: 10px;

              a {
                color: $main;

                &:hover {
                  text-decoration: none;
                }
              }

              &:last-child {
                margin-right: 0;
              }

              @media (min-width:1366px) {
                margin-bottom: 10px;
              }
            }

            @media (min-width:1366px) {
              white-space: unset;
              overflow-x: unset;
            }
          }
        }

        &-wrap {
          white-space: nowrap;
          overflow-x: auto;

          &_item {}

          @media (min-width:1366px) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            white-space: unset;
            overflow-x: unset;
          }
        }
      }

      .p-title {
        h5 {
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 700;
          padding: 15px;
          margin: 0;
          color: $sub;
        }
      }

      .separate {
        margin: 10px 0;
        text-align: center;
        padding: 0 120px;

        .line {
          border-top: 3px solid $main;
          border-radius: 16px;
          // width: 50%;
        }

        @media (min-width:1366px) {
          padding: 0 30%;
        }
      }

      .more-product {
        text-align: center;
        width: 100%;
        padding: 10px 0;

        .btn-more {
          padding: 3px 20px;
          color: $main;
          border: 1px solid $main;

          &:hover {
            color: #fff;
            background-color: $main;
          }

          &:focus {
            color: #fff;
            background-color: $main;
          }
        }
      }
    }

    @media (min-width: 768px) {
      padding: 0 27px;
    }

    @media (min-width: 1024px) {
      padding: 0 36px;
    }

    @media (min-width: 1366px) {
      padding: 0 17%;
    }
  }
}