.product-detail {
  background-color: #f5f5f5;

  .bg-white {
    background-color: #fff;
    margin-bottom: 16px;
    padding: 16px 32px;
  }

  .product-img {
    width: 200px;
    margin: auto;

    &_item {
      img {
        width: 100%;
      }
    }
  }

  .product-sub {
    &_item {
      width: 70px !important;
      margin: auto;

      img {
        width: 100%;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .product-info {
    margin-top: 16px;

    h5 {
      margin: 0;
      font-size: 16px;
    }

    &-quality {
      i {
        color: $main;
        font-size: 14px;
      }
    }

    &-sumary {
      font-size: 14px;

      p {
        color: $lightgrey;
      }
    }

    &-price {
      margin-top: 16px;
    }

    .add-to-cart {
      padding: 10px 0;

      .btn-buy {
        width: 100%;
        display: block;
        color: #fff;
        background-color: $main;
        padding: 5px 20px;
      }
    }
  }

  .product-related {
    .product-group {
      &_item {
        padding: 0;
      }
    }
    h5 {
      padding: 10px 0;
      margin: 0;
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .p-info-detail {
    h5 {
      padding: 10px 0;
      margin: 0;
      font-weight: 500;
      font-size: 1rem;
    }

    .table {
      border: none;

      th {
        border: none;
      }

      td {
        border: none;
      }
    }
  }

}