<footer class="">
  <div class="padding-17">
    <div class="container-fluid">
      <div class="footer">
        <div class="row">
          <div class="col-sm-12">
            <div class="footer-logo">
              <img src="assets/img/logo/logo.png" alt="logo">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h5>THÔNG TIN LIÊN HỆ</h5>
              <div class="footer-info_content">
                <div class="footer-info_content-items" >
                  <i class="fi flaticon-placeholder"></i>
                  <span>Tòa nhà MediGroup - 58/10 Thành Thái, Phường 12, Quận 10, TP.HCM</span>
                </div>
                <div class="footer-info_content-items">
                  <i class="fi flaticon-phone"></i>
                  <span>1900.966.917 | 0977.737.926</span>
                </div>
                <div class="footer-info_content-items">
                  <i class="fi flaticon-mail"></i>
                  <span>lienhe@haykhoe.vn</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="footer-service">
              <h5>HỖ TRỢ KHÁCH HÀNG</h5>
              <div class="footer-service_content">
                <a href="">TÌM KIẾM</a>
                <a href="">GIỚI THIỆU</a>
                <a href="">CHÍNH SÁCH ĐỔI TRẢ</a>
                <a href="">CHÍNH SÁCH BẢO MẬT</a>
                <a href="">ĐIỀU KHOẢN DỊCH VỤ</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6">
            <div class="footer-service">
              <h5>VỀ CHÚNG TÔI</h5>
              <div class="footer-service_content">
                <a href="">TRANG CHỦ</a>
                <a href="">SẢN PHẨM</a>
                <a href="">GIỚI THIỆU</a>
                <a href="">LIÊN HỆ</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-email">
              <h5>ĐĂNG KÝ NHẬN TIN</h5>
              <div class="footer-email_search">
                <input type="email" class="form-control" placeholder="Email của bạn" name="EMAIL">
                <button type="button" class="btn btn-search">
                  <i class="fi flaticon-loupe"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="footer-copy-right">
              <span>&copy; HayKhoe. All Rights Reserved. | Privacy Policy</span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="footer-license">
              <a href="http://online.gov.vn/Home/WebDetails/64637?AspxAutoDetectCookieSupport=1" target="_blank">
                <img src="//theme.hstatic.net/200000137391/1000593170/14/logo_bct_img.png?v=371" alt="Da thong bao bo Cong Thuong" class="logo-bct">
              </a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</footer>