<header class="header">
  <div class="padding-17">
    <div class="header-menu">
      <div class="mobile-vers">
        <nav class="nav navbar align-items-center justify-content-between">
          <span id="menuPopup" class="menu-btn">
            <i class="fi flaticon-menu"></i>
          </span>
          <div class="header-logo">
            <a href="index.html">
              <img src="assets/img/icons/HayKhoe-white.png" alt="">
            </a>
          </div>
          <a href="cart.html">
            <i class="fi flaticon-shopping-cart"></i>
          </a>
        </nav>
      </div>
      <div class="computer-vers">
        <nav class="nav navbar">
          <div class="header-logo">
            <a class="navbar-brand" href="index.html">
              <img src="assets/img/logo/logo.png" alt="">
            </a>
          </div>
          <ul class="nav-list">
            <li class="nav-list_item">
              <a class="title" href="index.html">
                TRANG CHỦ
              </a>
            </li>
            <li class="nav-list_item" id="categories-show">
              <a class="title" href="">
                SẢN PHẨM
              </a>
              <div class="nav-box">
                <div class="nav-box_inner">
                  <!-- Thực phẩm chức năng -->
                  <div class="categories-wrap">
                    <h6>
                      <a href="categories.html">
                        Thực phẩm chức năng
                      </a>
                    </h6>
                    <div class="d-flex">
                      <ul class="mr-5">
                        <li>
                          <a href="">Da liễu</a>
                        </li>
                        <li>
                          <a href="">Tai mũi họng</a>
                        </li>
                        <li>
                          <a href="">Mắt</a>
                        </li>
                        <li>
                          <a href="">Tiêu hóa</a>
                        </li>
                        <li>
                          <a href="">Xương khớp</a>
                        </li>
                        <li>
                          <a href="">Tim mạch</a>
                        </li>
                        <li>
                          <a href="">Gan mật</a>
                        </li>
                        <li>
                          <a href="">Thần kinh</a>
                        </li>
                        <li>
                          <a href="">Ung bứu</a>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <a href="">Đái tháo đường</a>
                        </li>
                        <li>
                          <a href="">Hỗ trợ sinh lý</a>
                        </li>
                        <li>
                          <a href="">Thận</a>
                        </li>
                        <li>
                          <a href="">Nội tiết tố</a>
                        </li>
                        <li>
                          <a href="">Mỡ máu</a>
                        </li>
                        <li>
                          <a href="">Tiết niệu</a>
                        </li>
                        <li>
                          <a href="">Hô hấp</a>
                        </li>
                        <li>
                          <a href="">Vitamin & khoáng chất</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Chăm sóc sức khỏe -->
                  <div class="categories-wrap">
                    <h6>
                      <a href="categories.html">
                        Chăm sóc sức khỏe
                      </a>
                    </h6>
                    <div class="d-flex">
                      <ul class="mr-5">
                        <li>
                          <a href="">Máy đo đường huyết</a>
                        </li>
                        <li>
                          <a href="">Máy đo huyết áp</a>
                        </li>
                        <li>
                          <a href="">Nước rửa tay</a>
                        </li>
                        <li>
                          <a href="">Nước súc miệng</a>
                        </li>
                        <li>
                          <a href="">Khẩu trang y tế</a>
                        </li>
                        <li>
                          <a href="">Chăm sóc cá nhân</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Làm đẹp + Mẹ và bé -->
                  <div class="categories-wrap">
                    <h6>
                      <a href="">Làm đẹp</a>
                    </h6>
                    <div class="d-flex flex-column">
                      <ul class="mr-5">
                        <li>
                          <a href="">Chăm sóc da</a>
                        </li>
                        <li>
                          <a href="">Chăm sóc tóc</a>
                        </li>
                      </ul>
                      <h6 class="mt-5">
                        <a href="">Mẹ và bé</a>
                      </h6>
                      <ul class="mr-5">
                        <li>
                          <a href="">Sản phẩm cho bé</a>
                        </li>
                        <li>
                          <a href="">Sản phẩm cho mẹ</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-list_item">
              <a class="title" href="">
                GIỚI THIỆU
              </a>
            </li>
            <li class="nav-list_item">
              <a class="title" href="">
                LIÊN HỆ
              </a>
            </li>
          </ul>
          <div class="nav-option">
            <!-- Button trigger modal -->
            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
              <i class="fi flaticon-loupe"></i>
            </button>

            <a href="">
              <i class="fi flaticon-user"></i>
            </a>
            <a href="cart.html">
              <i class="fi flaticon-shopping-cart"></i>
            </a>
          </div>
        </nav>
      </div>
      <div class="form-search d-flex justify-content-center">
        <form>
          <input class="form-control" type="search" placeholder="Bạn đang tìm kiếm gì?" aria-label="Search">
          <i class="fi flaticon-loupe"></i>
        </form>
      </div>
    </div>
    <div class="header-menu-list" id="menu">
      <div class="inner" id="inner">
        <div class="inner-header">
          <a href="" class="sign-in">
            <span class="icon-user">
              <i class="fi flaticon-profile-user"></i>
            </span>
            <div>
              <h6>Đăng nhập</h6>
              <span>Tài khoản</span>
            </div>
            <span class="icon-arrow">
              <i class="fi flaticon-right"></i>
            </span>
          </a>
        </div>
        <div class="inner-content">
          <div class="list-product">
            <div class="list-product-item">
              <a class="product-title" href="index.html">
                <h6>
                  <i class="fi flaticon-homepage"></i>
                  Trang chủ
                </h6>
                <span class="fi flaticon-right"></span>
              </a>
            </div>
            <div class="list-product-item">
              <a class="product-title" data-toggle="collapse" href="#collapse1">
                <h6>
                  <i class="fi flaticon-list"></i>
                  Danh sách sản phẩm
                </h6>
                <span class="fi flaticon-right"></span>
              </a>
              <ul id="collapse1" class="menu-child collapse">
                <a href="categories.html">
                  <li>
                    Thực phẩm chức năng
                  </li>
                </a>
                <a href="">
                  <li>
                    Chăm sóc sức khỏe
                  </li>
                </a>
                <a href="">
                  <li>
                    Làm đẹp
                  </li>
                </a>
                <a href="">
                  <li>
                    Mẹ và bé
                  </li>
                </a>
              </ul>
            </div>
            <div class="list-product-item">
              <a class="product-title" href="">
                <h6>
                  <i class="fi flaticon-profile-user"></i>
                  Quản lý tài khoản
                </h6>
                <span class="fi flaticon-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
</header>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn đang tìm kiếm gì?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control" placeholder="Nhập từ khóa tìm kiếm..." type="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-success">Tìm kiếm</button>
      </div>
    </div>
  </div>
</div>